/*
    Breakpoint argument choices
    - Small (sm): =<576px = =<36em
    - Medium (md): =<768px = =<48em
    - Large (lg): =<992px = =<62em
    - Extra Large (xl): =<1200px = =<75em
    - Extra Extra Large (xxl): =< 1400px = =<87.5em
    - Full Large: > 1400
*/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 61.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #615551;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fbdb89), to(#f48982));
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}

.container {
  max-width: 120rem;
  min-height: 117rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  -webkit-box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);
          box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10rem minmax(100rem, auto);
      grid-template-rows: 10rem minmax(100rem, auto);
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: 'head head' 'list recipe';
}

@media (max-width: 37.5em) {
  .container {
    display: block;
    min-height: 100vh;
  }
}

@media (max-width: sm) {
  .container {
    display: block;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    -ms-grid-columns: 1fr 0fr;
        grid-template-columns: 1fr 0fr;
  }
}

@media only screen and (max-width: 78.15em) {
  .container {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.btn, .btn--small, .btn--small:link, .btn--small:visited {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fbdb89), to(#f48982));
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover, .btn--small:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn:focus, .btn--small:focus {
  outline: none;
}

.btn > *:first-child, .btn--small > *:first-child {
  margin-right: 1rem;
}

.btn {
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
}

.btn--small, .btn--small:link, .btn--small:visited {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.25rem 2.25rem;
  text-decoration: none;
}

.btn--small svg, .btn--small:link svg, .btn--small:visited svg {
  height: 1.75rem;
  width: 1.75rem;
  fill: currentColor;
}

.btn--inline {
  color: #f38e82;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  background-color: #f9f5f3;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn--inline svg {
  height: 1.6rem;
  width: 1.6rem;
  fill: currentColor;
  margin: 0 0.2rem;
}

.btn--inline span {
  margin: 0 0.4rem;
}

.btn--inline:hover {
  color: #f48982;
  background-color: #f2efee;
}

.btn--inline:focus {
  outline: none;
}

.btn--round {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fbdb89), to(#f48982));
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn--round:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.btn--round:focus {
  outline: none;
}

.btn--round svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff;
}

.btn--tiny {
  height: 2rem;
  width: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.btn--tiny svg {
  height: 100%;
  width: 100%;
  fill: #f38e82;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--tiny:focus {
  outline: none;
}

.btn--tiny:hover svg {
  fill: #f48982;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.btn--tiny:active svg {
  fill: #f48982;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btn--tiny:not(:last-child) {
  margin-right: 0.3rem;
}

.heading--2 {
  font-size: 2rem;
  font-weight: 700;
  color: #f38e82;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
}

.link:link,
.link:visited {
  color: #918581;
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}

.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: #f38e82;
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 37.5em) {
  .message {
    -webkit-transform: translateY(30rem);
            transform: translateY(30rem);
  }
}

@media (max-width: sm) {
  .message {
    -webkit-transform: translateY(30rem);
            transform: translateY(30rem);
  }
}

.message,
.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message svg,
.error svg {
  height: 3rem;
  width: 3rem;
  fill: #f38e82;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.message p,
.error p {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: head;
  background-color: #f9f5f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 37.5em) {
  .header {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (max-width: sm) {
  .header {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.header__logo {
  margin-left: 4rem;
  height: 4.6rem;
  display: block;
}

@media (max-width: 37.5em) {
  .header__logo {
    margin-left: 3.5rem;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
}

@media (max-width: sm) {
  .header__logo {
    margin-left: 3.5rem;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 37.5em) {
  .search {
    padding-left: 1rem;
    position: absolute;
    right: 10px;
    top: 40px;
  }
}

@media (max-width: sm) {
  .search {
    padding-left: 1rem;
    position: absolute;
    right: 10px;
    top: 40px;
  }
}

.search:focus-within {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 0.7rem 3rem rgba(97, 85, 81, 0.08);
          box-shadow: 0 0.7rem 3rem rgba(97, 85, 81, 0.08);
}

.search__field {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  width: 30rem;
}

.search__field:focus {
  outline: none;
}

.search__field::-webkit-input-placeholder {
  color: #d3c7c3;
}

.search__field:-ms-input-placeholder {
  color: #d3c7c3;
}

.search__field::-ms-input-placeholder {
  color: #d3c7c3;
}

.search__field::placeholder {
  color: #d3c7c3;
}

@media only screen and (max-width: 61.25em) {
  .search__field {
    width: auto;
  }
  .search__field::-webkit-input-placeholder {
    color: white;
  }
  .search__field:-ms-input-placeholder {
    color: white;
  }
  .search__field::-ms-input-placeholder {
    color: white;
  }
  .search__field::placeholder {
    color: white;
  }
}

@media (max-width: 37.5em) {
  .search__field {
    width: 14rem;
  }
}

@media (max-width: sm) {
  .search__field {
    width: 14rem;
  }
}

@media (max-width: 400px) {
  .search__field {
    width: 10rem;
  }
}

.search__btn {
  font-weight: 600;
  font-family: inherit;
}

@media (max-width: 37.5em) {
  .search__btn {
    padding: 1rem 2rem;
  }
  .search__btn span {
    display: none;
  }
}

@media (max-width: sm) {
  .search__btn {
    padding: 1rem 2rem;
  }
  .search__btn span {
    display: none;
  }
}

.nav {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin-right: 2.5rem;
}

@media (max-width: 37.5em) {
  .nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 1.5rem 0;
    margin-right: 0;
  }
}

@media (max-width: sm) {
  .nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 1.5rem 0;
    margin-right: 0;
  }
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media (max-width: 37.5em) {
  .nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: sm) {
  .nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav__item {
  position: relative;
}

.nav__btn {
  height: 100%;
  font-family: inherit;
  color: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__btn svg {
  height: 2.4rem;
  width: 2.4rem;
  fill: #f38e82;
  margin-right: 0.7rem;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

@media (max-width: 48em) {
  .nav__btn span {
    display: none;
  }
}

@media (max-width: md) {
  .nav__btn span {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .nav__btn span {
    display: block;
  }
}

@media (max-width: sm) {
  .nav__btn span {
    display: block;
  }
}

.nav__btn:focus {
  outline: none;
}

.nav__btn:hover {
  background-color: #f2efee;
}

.bookmarks {
  padding: 1rem 0;
  position: absolute;
  right: -2.5rem;
  z-index: 10;
  width: 40rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0.8rem 5rem 2rem rgba(97, 85, 81, 0.1);
          box-shadow: 0 0.8rem 5rem 2rem rgba(97, 85, 81, 0.1);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s 0.2s;
  transition: all 0.5s 0.2s;
}

.bookmarks__list {
  list-style: none;
}

.bookmarks__field {
  cursor: pointer;
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bookmarks__field:hover {
  background-color: #f2efee;
}

.bookmarks:hover,
.nav__btn--bookmarks:hover + .bookmarks {
  visibility: visible;
  opacity: 1;
}

.menubutton_icon {
  position: relative;
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}

@media (max-width: 37.5em) {
  .menubutton_icon {
    -webkit-transform: translate(20px, -3px);
            transform: translate(20px, -3px);
  }
}

@media (max-width: sm) {
  .menubutton_icon {
    -webkit-transform: translate(20px, -3px);
            transform: translate(20px, -3px);
  }
}

.menubutton_icon, .menubutton_icon::before, .menubutton_icon::after {
  width: 3rem;
  height: 2px;
  background-color: sandybrown;
  color: #fff;
  display: none;
}

@media (max-width: 48em) {
  .menubutton_icon, .menubutton_icon::before, .menubutton_icon::after {
    display: inline-block !important;
  }
}

@media (max-width: md) {
  .menubutton_icon, .menubutton_icon::before, .menubutton_icon::after {
    display: inline-block !important;
  }
}

.menubutton_icon::before, .menubutton_icon::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 10000;
}

.menubutton_icon::before {
  top: -0.6rem;
}

.menubutton_icon::after {
  top: 0.6rem;
}

.preview__link:link, .preview__link:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 3.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-right: 1px solid #fff;
  text-decoration: none;
}

.preview__link:hover {
  background-color: #f9f5f3;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.preview__link--active {
  background-color: #f9f5f3;
}

.preview__fig {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5.8rem;
          flex: 0 0 5.8rem;
  border-radius: 50%;
  overflow: hidden;
  height: 5.8rem;
  margin-right: 2rem;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.preview__fig::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fbdb89), to(#f48982));
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  opacity: 0.4;
}

.preview__fig img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.preview__data {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 2rem;
      grid-template-columns: 1fr 2rem;
  row-gap: 0.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview__title {
  grid-column: 1/-1;
  font-size: 1.45rem;
  color: #f38e82;
  text-transform: uppercase;
  font-weight: 600;
  text-overflow: ellipsis;
  max-width: 25rem;
  white-space: nowrap;
  overflow: hidden;
}

.preview__publisher {
  font-size: 1.15rem;
  color: #918581;
  text-transform: uppercase;
  font-weight: 600;
}

.preview__user-generated {
  background-color: #eeeae8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 10rem;
  margin-left: auto;
  margin-right: 1.75rem;
}

.preview__user-generated svg {
  height: 1.2rem;
  width: 1.2rem;
  fill: #f38e82;
}

.search-results {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: static;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;
}

.pagination::after {
  content: '';
  display: table;
  clear: both;
}

.pagination__btn--prev {
  float: left;
}

.pagination__btn--next {
  float: right;
}

.copyright {
  color: #918581;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;
}

.copyright .twitter-link:link,
.copyright .twitter-link:visited {
  color: #918581;
}

@media (max-width: 768px) {
  .search-results {
    position: absolute;
    z-index: 1000;
    top: 80px;
    width: 30rem;
    min-height: calc(100vh - 80px);
    background-color: #fff;
    -webkit-transition: left 1s;
    transition: left 1s;
  }
}

.recipe {
  background-color: #f9f5f3;
}

@media (max-width: 48em) {
  .recipe {
    min-height: calc(100vh - 80px);
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: md) {
  .recipe {
    min-height: calc(100vh - 80px);
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.recipe__fig {
  height: 32rem;
  position: relative;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.recipe__fig::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fbdb89), to(#f48982));
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  opacity: 0.6;
}

.recipe__img {
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recipe__title {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 20%) skewY(-6deg);
          transform: translate(-50%, 20%) skewY(-6deg);
  color: #fff;
  font-weight: 700;
  font-size: 3.25rem;
  text-transform: uppercase;
  width: 50%;
  line-height: 1.95;
  text-align: center;
}

.recipe__title span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 1.3rem 2rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fbdb89), to(#f48982));
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
}

@media only screen and (max-width: 61.25em) {
  .recipe__title {
    width: 70%;
  }
}

.recipe__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7.5rem 8rem 3.5rem 8rem;
}

@media (max-width: 37.5em) {
  .recipe__details {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10rem 2.5rem 3.5rem 2.5rem;
  }
}

@media (max-width: sm) {
  .recipe__details {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10rem 2.5rem 3.5rem 2.5rem;
  }
}

.recipe__info {
  font-size: 1.65rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipe__info:not(:last-child) {
  margin-right: 4.5rem;
}

.recipe__info-icon {
  height: 2.35rem;
  width: 2.35rem;
  fill: #f38e82;
  margin-right: 1.15rem;
}

.recipe__info-data {
  margin-right: 0.5rem;
  font-weight: 700;
}

.recipe__info-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.6rem;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.recipe__user-generated {
  background-color: #eeeae8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 10rem;
  margin-left: auto;
  margin-right: 1.75rem;
}

.recipe__user-generated svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: #f38e82;
}

.recipe__ingredients {
  padding: 5rem 8rem;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: #f2efee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipe__ingredient-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2.5rem 3rem;
  list-style: none;
}

@media (max-width: 37.5em) {
  .recipe__ingredient-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: sm) {
  .recipe__ingredient-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.recipe__ingredient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recipe__icon {
  height: 2rem;
  width: 2rem;
  fill: #f38e82;
  margin-right: 1.1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-top: 0.1rem;
}

.recipe__quantity {
  margin-right: 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.recipe__directions {
  padding: 5rem 10rem;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipe__directions-text {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 3.5rem;
  color: #918581;
}

.recipe__publisher {
  font-weight: 700;
}

.add-recipe-window {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100rem;
  background-color: white;
  border-radius: 9px;
  padding: 5rem 6rem;
  -webkit-box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 48em) {
  .add-recipe-window {
    width: 75rem;
    padding: 5rem 2rem;
  }
}

@media (max-width: md) {
  .add-recipe-window {
    width: 75rem;
    padding: 5rem 2rem;
  }
}

@media (max-width: 37.5em) {
  .add-recipe-window {
    width: 96%;
    padding: 2rem 2rem;
  }
}

@media (max-width: sm) {
  .add-recipe-window {
    width: 96%;
    padding: 2rem 2rem;
  }
}

.add-recipe-window .btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 1.6rem;
  font-size: 3.5rem;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.upload {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 4rem 6rem;
}

@media (max-width: 48em) {
  .upload {
    gap: 4rem 2rem;
  }
}

@media (max-width: md) {
  .upload {
    gap: 4rem 2rem;
  }
}

@media (max-width: 37.5em) {
  .upload {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2rem 2rem;
  }
}

@media (max-width: sm) {
  .upload {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2rem 2rem;
  }
}

.upload__column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.8fr;
      grid-template-columns: 1fr 2.8fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.upload__column label {
  font-size: 1.5rem;
  font-weight: 600;
  color: inherit;
}

.upload__column input {
  font-size: 1.5rem;
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.upload__column input::-webkit-input-placeholder {
  color: #d3c7c3;
}

.upload__column input:-ms-input-placeholder {
  color: #d3c7c3;
}

.upload__column input::-ms-input-placeholder {
  color: #d3c7c3;
}

.upload__column input::placeholder {
  color: #d3c7c3;
}

.upload__column input:focus {
  outline: none;
  border: 1px solid #f38e82;
  background-color: #f9f5f3;
}

.upload__column button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 1rem;
}

.upload__heading {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  grid-column: 1/-1;
}

.upload__btn {
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
}
/*# sourceMappingURL=main.css.map */